<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.EthAccountDAO" >
	<sql id="BASE_TABLE">
		am_ethaccount
	</sql>

	<sql id="BASE_COLUMN">
		id,itcode,account,balance,status,keystore,alias,backup1,backup2,backup3
	</sql>
  	
	<select id="selectEthAccount" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
	</select>
  
	<select id="selectEthAccountByItcode" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode}
	</select>
  
	<select id="selectEthAccountByAddress" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			account = #{account}
	</select>
  
	<select id="selectDefaultEthAccount" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{0} AND status = #{1}
	</select>
  
	<insert id="insertEthAccount" parameterType="com.digitalchina.xa.it.model.EthAccountDomain">
		INSERT INTO
			<include refid="BASE_TABLE"/>
			<trim prefix="(" suffix=")" suffixOverrides=",">
				itcode,account
			</trim>
			<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
				#{itcode, jdbcType=VARCHAR},#{account, jdbcType=VARCHAR}
			</trim>
	</insert>
  
	<update id="updateAccountBalance">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			balance = #{1}
		WHERE
			account = #{0}
	</update>
	
	<update id="updateDefaultBalance">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET
			balance = #{2}
		WHERE
			itcode = #{0}
		AND
			status = #{1}
	</update>
	
	<update id="updateKeystoreAndAlias">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET
			keystore = #{0},
			alias = #{1}			
		WHERE
			account = #{2}
	</update>
</mapper>