<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.EthAccountDAO" >
	<sql id="BASE_TABLE">
		am_ethaccount
	</sql>

	<sql id="BASE_COLUMN">
		id,itcode,account,balance,available,keystore,alias,backup1,backup2,backup3
	</sql>
  	
	<select id="selectEthAccount" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
	</select>
	
	<select id="selectEthAccountNew" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			available = 3 
		AND backup3 &lt;&gt; '' 
		AND balance &lt; 20;
	</select>
  
	<select id="selectEthAccountByItcode" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode}
	</select>
  
	<select id="selectEthAccountByAddress" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			account = #{account}
	</select>
  
	<select id="selectDefaultEthAccount" resultType="com.digitalchina.xa.it.model.EthAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode,jdbcType=VARCHAR} 
		AND 
			available = 3
	</select>
	<select id="selectKeystoreByAccount" parameterType="com.digitalchina.xa.it.model.EthAccountDomain" resultType="java.lang.String">
		SELECT
			keystore
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			account = #{account,jdbcType=VARCHAR}
	</select>
	<select id="selectKeystoreByItcode" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			keystore
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode,jdbcType=VARCHAR}
		AND
			available = 3
	</select>
  	
  	<insert id="insert" parameterType="com.digitalchina.xa.it.model.EthAccountDomain">
		INSERT INTO
			<include refid="BASE_TABLE"/>
			<trim prefix="(" suffix=")" suffixOverrides=",">
				itcode,account,alias,available,keystore,backup1
			</trim>
			<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
				#{itcode, jdbcType=VARCHAR},#{account, jdbcType=VARCHAR},#{alias,jdbcType=VARCHAR},#{available,jdbcType=INTEGER},#{keystore,jdbcType=VARCHAR},#{backup1,jdbcType=VARCHAR}
			</trim>
	</insert>
	
	<insert id="insertItcodeAndAccount" parameterType="com.digitalchina.xa.it.model.EthAccountDomain">
		INSERT INTO
			<include refid="BASE_TABLE"/>
			<trim prefix="(" suffix=")" suffixOverrides=",">
				itcode,account
			</trim>
			<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
				#{itcode, jdbcType=VARCHAR},#{account, jdbcType=VARCHAR}
			</trim>
	</insert>
  
	<update id="updateAccountBalance" parameterType="com.digitalchina.xa.it.model.EthAccountDomain">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			balance = #{balance, jdbcType=DOUBLE}
		WHERE
			account = #{account, jdbcType=VARCHAR}
	</update>
	
	<update id="updateDefaultBalance">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET
			balance = #{2}
		WHERE
			itcode = #{0}
		AND
			available = #{1}
	</update>
	
	<update id="updateKeystoreAndAlias" parameterType="com.digitalchina.xa.it.model.EthAccountDomain">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET
			keystore = #{keystore, jdbcType=VARCHAR},
			alias = #{alias, jdbcType=VARCHAR},
			available = #{available, jdbcType=INTEGER}
		WHERE
			account = #{account, jdbcType=VARCHAR}
	</update>
</mapper>