<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.LessonsDAO" >
	<sql id="BASE_TABLE">
		am_lessons
	</sql>
	
	<sql id="BASE_COLUMN">
	</sql>
	
	<select id="selectChapterCount" resultType="java.lang.String">
		SELECT
			backup1
		FROM
			<include refid="BASE_TABLE"/>
	</select>
	
	<!-- 学习排行榜前10，算法：计算每一科目占本科目总讲数比例，并求加权平均值，最后*100 -->
	<select id="selectTop10" resultType="java.util.HashMap">
		SELECT
			t.itcode AS itcode ,
			sum(t.lessonValue) * 100 AS balance
		FROM (
			SELECT 
				lessonid, itcode, backup1/(SELECT backup1 FROM am_lessons WHERE id = lessonId)/(SELECT count(id) FROM am_lessons) AS lessonValue 
			FROM 
				am_lessondetail 
			WHERE 
				backup1 &lt;&gt; '00'
			GROUP BY 
				lessonId, itcode
			) t
		GROUP BY
			t.itcode
		ORDER BY
			balance
		DESC LIMIT 10;
	</select>
</mapper>