<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.LessonDetailDAO" >
	<sql id="BASE_TABLE">
		am_lessonDetail
	</sql>
	
	<sql id="BASE_COLUMN">
	</sql>
	
	<select id="selectOrders" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			itcode
		FROM
			<include refid="BASE_TABLE"/> d, am_lessons l
		WHERE
			l.id = d.lessonId
		AND
			l.lesson = #{lesson, jdbcType=VARCHAR}
	</select>
  	
  	<insert id="insertItcode" parameterType="java.lang.String">
		INSERT INTO am_lessonDetail(lessonId,itcode) select id,#{itcode, jdbcType=VARCHAR} from am_lessons
	</insert>
</mapper>