<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.LessonDetailDAO" >
	<sql id="BASE_TABLE">
		am_lessonDetail
	</sql>
	
	<sql id="BASE_COLUMN">
		id,lessonId,itcode,buy,buyTime,cost,recentTime,chapter,backup1,backup2,backup3
	</sql>
	
	<select id="selectOrderCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			<include refid="BASE_TABLE"/> d, am_lessons l
		WHERE
			l.id = d.lessonId
		AND
			l.lesson = #{lesson, jdbcType=VARCHAR}
	</select>
	
	<select id="selectOneRecord" resultType="com.digitalchina.xa.it.model.LessonDetailDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/> d, am_lessons l
		WHERE
			l.id = d.lessonId
		AND
			l.lesson = #{lesson, jdbcType=VARCHAR}
		AND
			d.itcode = #{itcode, jdbcType=VARCHAR}
	</select>
	<!-- FIXME 暂时修改课程学习重复记录itcode的bug -->
	<select id="selectLessonAndItcodeRecord" resultType="java.lang.Integer">
		SELECT
			count(id)
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode, jdbcType=VARCHAR}
		AND
			lessonId = #{lessonid, jdbcType=INTEGER}
	</select>
	
  	
  	<insert id="insertItcode">
		INSERT INTO
			am_lessonDetail(lessonId,itcode) 
		SELECT
			id,#{itcode, jdbcType=VARCHAR} 
		FROM
			am_lessons
		WHERE
			lesson = #{lesson, jdbcType=VARCHAR}
	</insert>
	
	<update id="updateChapterAndRecentTime" parameterType="com.digitalchina.xa.it.model.LessonDetailDomain">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			recentTime = #{recentTime, jdbcType=VARCHAR},chapter = #{chapter, jdbcType=VARCHAR}
		WHERE
			lessonId = #{lessonId, jdbcType=INTEGER}
		AND
			itcode = #{itcode, jdbcType=VARCHAR}
	</update>
	
	<select id="selectChapter" resultType="java.lang.String">
		SELECT
			chapter
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode, jdbcType=VARCHAR}
		AND
			lessonId = #{lessonId, jdbcType=INTEGER}
	</select>
</mapper>