<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.TConfigDAO" >
	<sql id="BASE_TABLE">
		t_config
	</sql>

	<sql id="BASE_COLUMN">
		cfg_id,cfg_key,cfg_value,cfg_extra,cfg_type,cfg_status
	</sql>
  	
	<select id="selectIpArr" resultType="java.lang.String">
		SELECT
			cfg_value
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			cfg_extra = 'EthNodes'
		AND
			cfg_status = 1
	</select>
	
	<select id="selectValueByKey" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT
			cfg_value
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			cfg_key = #{cfgKey, jdbcType=VARCHAR}
		AND
			cfg_status = 1
	</select>
	
	<update id="UpdateEthNodesStatus">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			cfg_status = #{cfgStatus, jdbcType=BIT}
		WHERE
			cfg_value= #{cfgValue, jdbcType=VARCHAR}
	</update>
	
	<select id="selectEthNodesInfo" resultType="com.digitalchina.xa.it.model.TConfigDomain">
		SELECT
			cfg_value,cfg_status
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			cfg_extra = 'EthNodes'
	</select>
	
	<select id="selectConfigByExtra" resultType="com.digitalchina.xa.it.model.TConfigDomain">
		SELECT
			cfg_value,cfg_status
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			cfg_extra = #{cfgExtra, jdbcType=VARCHAR}
		AND
			cfg_status = 1
	</select>
	
	<select id="selectContractInfo" resultType="com.digitalchina.xa.it.model.TConfigDomain">
		SELECT
			cfg_key,cfg_value
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			cfg_extra = 'ContractAddress'
		AND
			cfg_status = 1
	</select>
</mapper>