<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.TopicDAO" >
  <sql id="BASE_TABLE">
    t_topic
  </sql>

  <sql id="BASE_COLUMN">
    id,name,type,popularity,available,reader,priority,backup1,backup2,backup3
  </sql>

	<insert id="insert" parameterType="com.digitalchina.xa.it.model.TopicDomain">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            select @@IDENTITY as id
        </selectKey>
		INSERT INTO
			<include refid="BASE_TABLE"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			name,type,available,
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			#{name, jdbcType=VARCHAR},#{type, jdbcType=VARCHAR},#{available, jdbcType=INTEGER}
		</trim>
	</insert>
	
	<select id="selectTopic" resultType="com.digitalchina.xa.it.model.TopicDomain">
	    SELECT
	      <include refid="BASE_COLUMN"/>
	    FROM
	      <include refid="BASE_TABLE"/>
	</select>
  
	<select id="selectTopicByID" parameterType="com.digitalchina.xa.it.model.TopicDomain" resultType="com.digitalchina.xa.it.model.TopicDomain">
	    SELECT
	      <include refid="BASE_COLUMN"/>
	    FROM
	      <include refid="BASE_TABLE"/>
	     where id = #{id, jdbcType=INTEGER}
	</select>
  
	<update id="updatePopularity" parameterType="com.digitalchina.xa.it.model.TopicDomain">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    popularity = popularity+1
	   WHERE  id = #{id, jdbcType=INTEGER}
	</update>
	
	<update id="updateReader" parameterType="com.digitalchina.xa.it.model.TopicDomain">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    reader = reader + 1
	   WHERE  id = #{id, jdbcType=INTEGER}
	</update>
	
	<update id="updatePriority" parameterType="com.digitalchina.xa.it.model.TopicDomain">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    priority = priority + #{priority, jdbcType=INTEGER}
	   WHERE  id = #{id, jdbcType=INTEGER}
	</update>
  
  <select id="selectTopicToday" resultType="com.digitalchina.xa.it.model.TopicDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
      where available = 1
  </select>
  	<select id="selectNextTopic" resultType="Integer">
      SELECT
        id
      FROM
        <include refid="BASE_TABLE"/>
      where available = 0 AND type &lt;&gt; 'stockmarket' ORDER BY RAND() LIMIT 1;
	</select>
	
	<select id="selectNextTopicStock" resultType="Integer">
      SELECT
        id
      FROM
        <include refid="BASE_TABLE"/>
      where available = 0 AND type = 'stockmarket' LIMIT 1;
	</select>
	
  	<update id="updateAvailable" parameterType="com.digitalchina.xa.it.model.TopicDomain">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    available = 1
	   WHERE  id = #{id, jdbcType=INTEGER}
	</update>
	
	<update id="updateAvailableBefore" parameterType="com.digitalchina.xa.it.model.TopicDomain">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    available = 2
	   WHERE  id = #{id, jdbcType=INTEGER}
	</update>
	
	<update id="updateTopicStatus" parameterType="java.lang.String">
	   UPDATE 
	   <include refid="BASE_TABLE"/>
	   SET    available = 0
	   WHERE  name = #{name, jdbcType=VARCHAR}
	   AND available = 3
	</update>
	
	<select id="selectHotTopicByPopularityDesc" resultType="com.digitalchina.xa.it.model.TopicDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
      where available = 2 
      
      ORDER BY popularity DESC
  	</select>
  	
	<select id="selectNewTopicByPopularityDesc" resultType="com.digitalchina.xa.it.model.TopicDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
      where available &lt;&gt; 3 
      
      ORDER BY id DESC
  	</select>
  	
	<select id="selectPriorityTopicByPopularityDesc" resultType="com.digitalchina.xa.it.model.TopicDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
      where available &lt;&gt; 3 
      
      ORDER BY priority DESC
  	</select>
</mapper>