<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.TPaidlotteryInfoDAO" >
	<sql id="BASE_TABLE">
		t_paidlottery_info
	</sql>

	<sql id="BASE_COLUMN">
		id,name,description,flag,typeCode,winCount,unitPrice,winSumAmount,winDate,winSumPerson,nowSumPerson,nowSumAmount,reward,winner,winTicket,limitEveryday,lotteryTime,backup1,backup2,backup3,backup4,backup5
	</sql>
	
	<select id="selectLotteryInfoByFlag" resultType="com.digitalchina.xa.it.model.TPaidlotteryInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			flag = #{flag,jdbcType=INTEGER}
	</select>
	
	<select id="selectLotteryInfoById" resultType="com.digitalchina.xa.it.model.TPaidlotteryInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectLotteryBylotteryId" resultType="com.digitalchina.xa.it.model.TPaidlotteryInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			lotteryId = #{lotteryId,jdbcType=INTEGER}
	</select>
	
	<select id="selectRunLottery" resultType="com.digitalchina.xa.it.model.TPaidlotteryInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			flag = 0
		AND
			winSumAmount = nowSumAmount
		AND
			backup4 = 0
	</select>
	
	<select id="selectUnfinishedLottery" resultType="com.digitalchina.xa.it.model.TPaidlotteryInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			flag = 0
	</select>
	
	<update id="updateNowSumAmountAndBackup4">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			nowSumAmount = nowSumAmount + unitPrice,
			backup4 = backup4 + 1
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateNowSumAmountAndBackup4Sub">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			nowSumAmount = nowSumAmount - unitPrice * #{count,jdbcType=INTEGER},
			backup4 = backup4 - 1
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateBackup4To0">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			backup4 = 0
		WHERE
			id = #{id, jdbcType=INTEGER}
	</update>
	
	<update id="updateAfterLotteryFinished">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET
			flag = 1,    
			lotteryTime = #{lotteryTime, jdbcType=TIMESTAMP},
			winner = #{winner, jdbcType=VARCHAR},
			winTicket = #{winTicket, jdbcType=VARCHAR}
		WHERE
			id = #{id, jdbcType=INTEGER}
	</update>
</mapper>