<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.WalletAccountDAO" >
	<sql id="BASE_TABLE">
		am_walletaccount
	</sql>

	<sql id="BASE_COLUMN">
	 	id,itcode,phone,balance,status,email,remark,password
	</sql>
  	
	<select id="selectWallatAccount" resultType="com.digitalchina.xa.it.model.WalletAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
	</select>
  
	<select id="selectWalletAccountByItcode" resultType="com.digitalchina.xa.it.model.WalletAccountDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			itcode = #{itcode, jdbcType=VARCHAR}
	</select>
	  
	<insert id="insertWalletAccount" useGeneratedKeys="true"
		parameterType="com.digitalchina.xa.it.model.WalletAccountDomain">
		INSERT INTO
			<include refid="BASE_TABLE"/>
			<trim prefix="(" suffix=")" suffixOverrides=",">
			itcode,phone,balance,status,email,remark,password
			</trim>
			<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			#{itcode, jdbcType=VARCHAR},#{phone, jdbcType=VARCHAR},#{balance, jdbcType=DOUBLE},
			#{status, jdbcType=INTEGER},#{email, jdbcType=VARCHAR},#{remark, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR}
			</trim>
	</insert>
	
	<select id="selectUserNoBefore8" resultType="java.lang.String">
		SELECT
			UserNo
		FROM
			(
				SELECT
					UserNo,beat_card_firsttime
				FROM
					beat_card
				WHERE
					date_format(beat_card_date, '%Y%m%d') = date_format(
						date_add(NOW(), INTERVAL - 1 DAY),
						'%Y%m%d'
					)
			) as baseTable
		WHERE
			baseTable.beat_card_firsttime &lt;= '080000';
	</select>
	
	<select id="selectUserNoAfter21" resultType="java.lang.String">
		SELECT
			UserNo
		FROM
			(
				SELECT
					UserNo,beat_card_lasttime
				FROM
					beat_card
				WHERE
					date_format(beat_card_date, '%Y%m%d') = date_format(
						date_add(NOW(), INTERVAL - 1 DAY),
						'%Y%m%d'
					)
			) as baseTable
		WHERE
			baseTable.beat_card_lasttime &gt;= '210000';
	</select>
</mapper>